<nz-layout style="background: white" routerLink="/instructor/{{instructor.id}}">
  <nz-layout style="background: white;">
    <nz-sider style="background: white; " [nzWidth]=100>
      <nz-avatar nzSrc={{instructor.img_url}} style="width: 80px;height: 80px; "></nz-avatar>
    </nz-sider>
    <nz-layout style="background: white;">
      <h4 style="margin-left: 5px">{{instructor.name}} {{instructor.surname}}</h4>
      <nz-content style="background: white">
        <i nz-icon nzType="bank" nzTheme="outline" style="margin-left: 5px"></i>
        {{instructor.companyName}}
        <br/>
        <span style="margin-left: 5px">
          <div style="display: inline-block">
            <i nz-icon nzType="star" nzTheme="outline"></i>
            {{instructor.rating}}
            <br/>
            <small><small> Rating ({{instructor.reviews}} Reviews)</small></small>
          </div>
          <div style="display: inline-block; margin-left: 10px">
            {{instructor.deliviries}}
            <br/>
            <small><small> Deliviries</small></small>
          </div>
          <div style="display: inline-block; margin-left: 10px">
            ${{instructor.startRate}}
            <br/>
            <small><small>Start Rate</small></small>
          </div>
        </span>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-layout style="background: white;">
    <nz-content style="background: white">
      <div style="margin-left: 5px; margin-top: 5px;">
        <i nz-icon nzType="environment" nzTheme="outline"></i>
        {{instructor.country}}
      </div>
      <div style="margin-left: 5px;">
        <i nz-icon nzType="message" nzTheme="outline"></i>
        {{instructor.languages.join()}}
      </div>
      <span *ngFor="let skill of instructor.skills" style="margin-left: 5px; margin-top: 10px;">
        <nz-tag>{{skill}}</nz-tag>
      </span>
    </nz-content>
  </nz-layout>
</nz-layout>
<button *ngIf="!isOffered" (click)="sendOffer()" nz-button nzType="primary" style="width:100px; margin-left:100px; margin-top: 5px;">Send
  Offer
</button>
<div *ngIf="isOffered" style="width:100px; margin-left:100px; margin-top: 5px;">
  <i nz-icon nzType="check-square" nzTheme="fill" style="color:green"></i>
  Offer Sent
</div>